<!DOCTYPE html>
<html>
<head>
	<title>Sklep</title>
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="topbar">
		<div class="container">

			<div class="topcenter">
				<ul>
					<li><a href="/">Strong główna</a></li>
					<li><a href="contact">Kontakt</a></li>
					<% if (privileged) { %>
						<li><a href='users'>Użytkownicy</a></li>
						<li><a href='products'>Produkty</a></li>
						<li><a href='orders'>Zamówienia</a></li>
					<% } %>
				</ul>
			</div>

			<div class="topright">
				<ul>
					<li><a href="#"><i class="fas fa-phone"></i> (+48)123456789</a></li>
					<li>Nazwa użytkownika: <%= username %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="header">
		<div class="container">

			<div class="logo">
				<img src="images/logo.png">
			</div>

			<div class="searchbar">
				<form method="POST" action="query">
					<div class="form-inline">
						<input class="form-control mr-1" type="text" name="search" placeholder="Szukaj" style="width: 400px;">
						<button class="btn btn-primary" style="background-color: orange; border-color:orange;">Szukaj</button>
					</div>
				</form>
			</div>

			<div class="headerright">
				<ul>
					<% if (!logged) { %>
						<li><a href="login" class="signBtn">Logowanie i Rejestracja</a></li>
					<% } else { %>
						<li><a href="cart"><i class="fas fa-shopping-cart"></i>Koszyk(<%= prodAmount %>)</a></li>
						<li><a href="logout" class="signBtn">Wyloguj się</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Product Area Start -->
	<div class="product-area">
		<div class="container">
			<h3>Produkty</h3>
			<% items.forEach((v) => { %>
				<div class="col-3">
					<a href="#">
						<img src="<%= v.image %>" alt="" style="width: 1000px;">
						<div class="caption">
							<big>Kod: <%= v.code %></big>
							<h4><%= v.name %></h4>
							<button class="price"><%= v.price %> zł</button>
						</div>
						<form method="POST" action="add_to_cart">
							<input hidden="true" type="number" name="productID" value="<%= v.id %>">
							<input hidden="true" type="number" name="quantity" value=1>
							<% if (logged) { %>
								<input class="submitBtn" 
									   style="width: 90%;"
									   type="submit" 
									   value="Dodaj do koszyka">
							<% } %>
						</form>
					</a>
				</div>
			<% }); %>
		</div>
	</div>
	<!-- Product Area End -->

	<!-- Product View Box / Quick Product View Start -->
	<div class="productViewBox">
		<h3>Apple Macbook Pro MQ032 14.5' Inter Core i7 5550U 8GB DDR3</h3>
		<div class="productViewBox-closeBtn"><i class="fas fa-times"></i></div>
		<div class="productViewBoxImg">
			<img src="images/img1.jpg">
		</div>
		<div class="productViewBoxDetail">
			<h5><b>Cena : </b>598 zł</h5>
			<h5><b>Gwarancja : </b> 12 miesięcy</h5>
			<h5><b>Dostawa : </b> GRATIS</h5>
			<h5><b>Metody płatności : </b> COD, Visa, Mastercard, Debit, Credit</h5>
			<h5><b>Dostępność : </b> dostępny</h5>
			<h5><b>Kod produktu : </b> GA000006488</h5>
			<button class="addtocart"><i class="fas fa-shopping-cart"></i> Dodaj do koszyka</a></button>
		</div>
	</div>
	<!-- Product View Box / Quick Product View End -->

<!-- Jquery V.3.3.1 -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.cycle.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
	$("#sliderShuffle").cycle({
		next: '#next',
		prev: '#prev'
	});
	
	$('.owl-carousel').owlCarousel({
		items:4,
		loop:true,
		margin:15,
		autoplay:true,
		autoplayTimeout:3000, //3 Second
		nav:true,
		responsiveClass:true,
		responsive:{
			0:{
				items:1,
				nav:true
			},
			600:{
				items:3,
				nav:true
			},
			1000:{
				items:4,
				nav:true
			}
		}

	});

	$(function(){
		$(".topbar ul li").click(function(){
			$(".topbar ul li").not(this).find("ul").slideUp();
			$(this).find("ul").slideToggle();
		});
		$(".topbar ul li ul li, productCategories ul li .megamenu").click(function(e){
			e.stopPropagation();	
		});
		$(".productCategories ul li").click(function(){
			$(".productCategories ul li").not(this).find(".megamenu").hide();
			$(this).find(".megamenu").toggle();
		});
		$(".otherInfoBody").hide();
		$(".otherInfoHandle").click(function(){
			$(".otherInfoBody").slideToggle();
		});
		$(".signBtn").click(function(){
			$("body").css("overflow", "hidden");
			$(".loginBox").slideDown();
		});
		$(".closeBtn").click(function(){
			$("body").css("overflow", "visible");
			$(".loginBox").slideUp();
		});
		$(".productViewBtn").click(function(e){
			e.preventDefault();
			$("body").css("overflow", "hidden");
			$(".productViewBox").slideDown();
		});
		$(".productViewBox-closeBtn").click(function(){
			$("body").css("overflow", "visible");
			$(".productViewBox").slideUp();
		});
	});
</script>
</body>
</html>